# Temporary reference
ref/

# Data
.env
/data/

# Modules
node_modules/

# Tests
*.test.*

temp/

# Auth
/auth

# Logs
*.log

# Checks
checks.js

# Build
dist/

# Duplicates of DaalBot/Discord ignored files
src/lib/checks.ts