# Temporary reference
ref/

# Data
.env
/data/

# Modules
node_modules/

# Tests
*.test.*

temp/

# Auth
/auth

# Logs
*.log

# Checks
checks.js

# Config (they're public however they may get overwritten by git)
/config/*

# Build
dist/